html,
body,
.wrapper {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family: var(--font-main);
    background-color: var(--page-bg);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);

    @include mobile {
        font-size: 14px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex-grow: 0;
}

.main {
    flex-grow: 1;
}

img {
    background-color: var(--gray-20);
}