.agents {
    position: relative;
    z-index: 2;
    padding: clamp(1.875rem, -0.144rem + 8.97vw, 6.25rem) 0;

    &::before {
        @include pseudo;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url('./../img/decor/dots.svg');
        width: 102px;
        height: 201px;
        right: 0;
        bottom: 0;
        z-index: 0;

        @media (max-width: 1366px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__descr {
        max-width: 500px;
        color: var(--gray-500);
        margin-bottom: clamp(1.875rem, 1.298rem + 2.56vw, 3.125rem);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        align-items: center;
        column-gap: 60px;
        row-gap: 40px;

        @include tablet {
            column-gap: 20px;
        }

        @include tablet-sm {
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }

        @include mobile {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
    }

    &__item {
        position: relative;

        @media (min-width: 1023.98px) {
            &:nth-child(3n+2) {
                .card-agent {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            &::after {
                @include pseudo;
                width: 1px;
                height: 100%;
                background-color: var(--gray-20);
                top: 0;
                right: -30px;

                // @include tablet {
                //     display: none;
                // }
            }

            &:nth-child(3n+3) {
                &::after {
                    display: none;
                }
            }
        }

        @include mobile {
            scroll-snap-align: start;

            .card-agent {
                width: 297px;
            }
        }

    }
}