.agents-galery {
    padding-top: clamp(1.875rem, 1.298rem + 2.56vw, 3.125rem);

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include tablet-sm {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            display: flex;
            gap: 20px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
    }

    &__item {
        @include mobile {
            scroll-snap-align: start;

            .card-agent {
                width: 300px;
            }
        }
    }
}