.auth {
    &__inner {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__img {
        @include imgBg;
        width: 60%;
        height: 100vh;

        @include tablet-sm {
            display: none;
        }
    }

    &__content {
        width: 40%;
        padding: clamp(0.938rem, -0.072rem + 4.49vw, 3.125rem);

        @include tablet {
            width: 60%;
        }

        @include tablet-sm {
            width: 100%;
        }
    }

    &__back {
        display: inline-flex;
        align-items: center;
        column-gap: 5px;
        padding: 10px 0;
        margin-bottom: 30px;

        @include hover {
            text-decoration: underline;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 50px;
    }

    &__title {
        font-family: var(--font-second);
        font-size: 30px;
        margin-bottom: 5px;
    }

    &__descr {
        max-width: 450px;
        color: var(--gray-500);
        margin-bottom: 30px;
    }

    &__form {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include tablet-sm {
            max-width: 100%;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__code {
        display: flex;
        align-items: center;
        column-gap: 20px;

        @include mobile {
            column-gap: 10px;
        }

        .form-label {
            width: 60px;
            height: 60px;
        }

        .form-input {
            font-family: var(--font-second);
            height: 100%;
            font-size: 24px;
            font-weight: 700;
            padding: 0;
            text-align: center;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        color: var(--primary-500);
        margin-left: auto;

        &--terms-conditions {
            margin-left: 0;
        }

        @include hover {
            text-decoration: underline;
        }
    }
}