.card-agent {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__img {
        border-radius: var(--rounded-sm);

        img {
            background-color: var(--gray-20);
            border-radius: var(--rounded-sm);

            @include desktop {
                width: 100%;
            }
        }
    }

    &__title {
        @include line-clamp(1);
        font-family: var(--font-second);
        margin-bottom: 10px;
    }

    &__position {
        color: var(--gray-500);
        margin-bottom: 20px;
    }
}