.card-testimonials {
    max-width: 360px;
    background-color: var(--white-500);
    border-radius: var(--rounded-sm);
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;

    &__rating,
    &__text {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }

    &__rating {
        font-size: 20px;
    }

    &__text {}

    &__img {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        border-radius: var(--rounded-full);

        img {
            background-color: var(--gray-20);
            border-radius: var(--rounded-full);
        }
    }

    &__title {
        grid-column: 2 / -1;
    }

    &__position {
        grid-column: 2 / -1;
        grid-row: 4 / 5;
        color: var(--gray-500);
        font-size: 14px;
    }
}