.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @include tablet-sm {
        gap: 10px;
    }

    @include mobile {
        display: flex;
        margin-bottom: 30px;
        overflow-x: auto;
    }

    &__link {
        display: block;
        border-radius: var(--rounded-sm);

        &:nth-child(5) {
            position: relative;

            &::before {
                @include pseudo;
                inset: 0;
                z-index: 1;
                background-color: var(--dark-30);
                border-radius: var(--rounded-sm);
            }
        }

        &:nth-child(n + 6) {
            display: none;
        }

        @include mobile {
            min-width: 90px;
        }
    }

    &__link-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--white-500);
        text-align: center;
        z-index: 2;
    }

    &__img {
        background-color: var(--gray-20);
        border-radius: var(--rounded-sm);
    }
}