.header {
    background-color: var(--white-500);
    padding: 20px 0;

    @include mobile {
        padding: 10px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @include mobile {
            gap: 10px;
        }
    }

    &__login {
        min-width: 100px;

        @include tablet-sm {
            min-height: 40px;
            min-width: 70px;
            margin-left: auto;
        }

        @include mobile {
            padding: 8px 13px;
        }
    }
}