.property {
    padding-top: clamp(1.875rem, 1.298rem + 2.56vw, 3.125rem);

    &__breadcrumbs {
        margin-bottom: 50px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 244px 1fr;
        gap: 50px;

        @include desktop {
            gap: 20px;
        }

        @include tablet {
            display: block;
        }
    }

    &__settings {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;

        @include mobile {
            column-gap: 5px;
        }
    }

    &__filter-btn {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__grid-view,
    &__list-view {

        &.is-active {
            pointer-events: none;

            svg {
                stroke: var(--primary-500);
            }
        }
    }

    &__showing {
        @include mobile {
            width: 100%;
            order: 2;
        }
    }

    &__sort {
        margin-left: auto;
    }

    &__sort-select {
        padding-right: 10px;
        cursor: pointer;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px;
        margin-bottom: 50px;

        &.list-view {
            grid-template-columns: 1fr;
        }
    }
}