.property {
    padding-top: clamp(1.875rem, 1.298rem + 2.56vw, 3.125rem);

    &__breadcrumbs {
        margin-bottom: 50px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 244px 1fr;
        gap: 50px;

        @include desktop {
            gap: 20px;
        }

        @include tablet {
            display: block;
        }
    }

    &__aside {

        @include tablet {
            display: none;
        }
    }

    &__body {
        height: 600px;
    }

    &__settings {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__sort {
        margin-left: auto;
    }

    &__sort-select {
        padding-right: 10px;
        cursor: pointer;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px;
        margin-bottom: 50px;
    }
}




.range-slider {
    &__inputs {}

    &__label {}

    &__currency {}

    &__input {}
}