.product {
    padding-top: clamp(1.875rem, 1.298rem + 2.56vw, 3.125rem);

    &__breadcrumbs {
        margin-bottom: 50px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__hero {
        @include imgBg;
        height: clamp(12.5rem, -1.346rem + 61.54vw, 42.5rem); // 200px-680px
        background-color: var(--gray-20);

        @include tablet-sm {
            margin-bottom: 15px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 50px 30px;

        @include tablet-sm {
            transform: translateY(0);
        }

        @include tablet {
            gap: 20px 0;
        }
    }

    &__gallery,
    &__heading {
        grid-column: 12 span;
    }

    &__gallery {
        transform: translateY(-62px);

        @include mobile {
            transform: translateY(0);
        }
    }

    &__heading {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
        border-bottom: 1px solid var(--gray-20);

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 10px;
        }
    }

    &__title {
        font-family: var(--font-second);
        font-size: 30px;
        margin-bottom: 10px;

        @include mobile {
            font-size: 24px;
        }
    }

    &__address {
        position: relative;
        grid-column: 1 / 2;
        margin-bottom: 20px;
        padding-left: 34px;

        &::before {
            @include pseudo;
            @include imgBg;
            background-image: url('./../img/icons/location.svg');
            width: 24px;
            height: 24px;
            left: 0;
            top: -2px;
        }
    }

    &__price {
        grid-column: 1 / 2;
    }

    &__actions {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include mobile {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
            justify-self: start;
        }
    }

    &__actions-item {}

    &__btn {}

    &__tabs {
        grid-column: 7 span;

        @include tablet {
            grid-column: 12 span;
        }
    }

    &__agent {
        grid-column: 5 span;

        @include tablet {
            grid-column: 12 span;
            padding: 20px 0 0 0;
        }
    }
}