<div class="dropdown">
    <button class="dropdown__btn">
        <span>Выберите свой город</span>
        <svg class="icon icon--expand-more">
            <use href="./img/svgsprite/sprite.symbol.svg#expand-more"></use>
        </svg>
    </button>
    <ul class="dropdown__list">
        <li class="dropdown__list-item" data-value="expensive">Сначало дорогие</li>
        <li class="dropdown__list-item" data-value="cheap">Сначала дешёвые</li>
        <li class="dropdown__list-item" data-value="rating">За рейтингом</li>
        <li class="dropdown__list-item" data-value="novelty">Новинки</li>
    </ul>
    <input class="dropdown__input hidden" type="text" value="">
</div>