<section class="section">
    <h2 class="heading">Modal</h2>

    <div>
        <button class="btn" data-path="first" data-animation="fadeUp" data-speed="500">Open modal 1</button>
        <button class="btn" data-path="second" data-animation="fadeUp" data-speed="500">Open modal 2</button>
    </div>

    <div class="modal">
        <div class="modal__container" data-target="first">
            <button class="modal__close btn" type="button">
                <svg class="icon icon--close">
                    <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
                </svg>
            </button>
            <div class="modal__content">
                <button class="btn btn--gray btn--md">click on me</button>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nemo natus fugit nisi pariatur doloribus dolores molestiae ea earum iusto quisquam sunt omnis culpa
                ab similique beatae temporibus corporis, neque voluptas, maiores voluptatibus. Ipsum culpa eveniet incidunt impedit itaque, cum quibusdam numquam libero officiis,
                ex cumque dolorum, iusto repudiandae tempora.
            </div>
        </div>

        <div class="modal__container" data-target="second">
            <button class="modal__close btn" type="button">
                <svg class="icon icon--close">
                    <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
                </svg>
            </button>
            <div class="modal__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum vitae quasi alias modi aut corporis voluptate recusandae earum maiores culpa. Dolores perferendis
                vitae
                quod culpa, odit possimus nulla modi atque, quo ullam a repellendus! Delectus laudantium id cumque expedita nostrum dolorum enim sapiente impedit dolorem. Ab
                numquam
                iure praesentium voluptate!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro voluptatibus, doloremque nam voluptates aperiam, suscipit provident eveniet consequatur distinctio
                explicabo praesentium odio cum iure laudantium dolor dolore? Magni unde voluptatibus commodi rerum, molestiae rem in reiciendis neque earum voluptate distinctio
                fuga
                repellendus explicabo, accusamus dolorem cum nisi dignissimos. Nostrum architecto voluptas minima. A, modi rerum. Dolor repudiandae accusamus at facilis commodi.
            </div>
        </div>
    </div>

</section>