<div class="range-slider">
    <div id="range-slider"></div>
    <div class="range-slider__inputs">
        <label class="range-slider__label">
            <span class="range-slider__currency">Min</span>
            <input id="range-slider-input-0" class="range-slider__input input"
                   type="number" min="0" max="999" placeholder="0">
        </label>
        <label class="range-slider__label">
            <span class="range-slider__currency">Max</span>
            <input id="range-slider-input-1" class="range-slider__input input"
                   type="number" min="0" max="250" placeholder="250">
        </label>
    </div>
</div>