<div class="swiper mySwiper2">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('img/test/01.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/02.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/03.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/04.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/05.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/06.webp');"></div>
        <div class="swiper-slide" style="background-image: url('img/test/07.webp');"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="img/test/01.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/02.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/03.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/04.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/05.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/06.webp" width="70" height="90" />
        </div>
        <div class="swiper-slide">
            <img src="img/test/07.webp" width="70" height="90" />
        </div>
    </div>
</div>