<div class=" tabs section">
    <ul class="tabs__list">
        <li class="tabs__item">
            <button class="tabs__btn btn tabs__btn--active" type="button" data-tab="tab-1">Description</button>
        </li>
        <li class="tabs__item">
            <button class="tabs__btn btn" type="button" data-tab="tab-2">Reviews</button>
        </li>
        <li class="tabs__item">
            <button class="tabs__btn btn" type="button" data-tab="tab-3">Shipping</button>
        </li>
        <li class="tabs__item">
            <button class="tabs__btn btn" type="button" data-tab="tab-4">About seller</button>
        </li>
    </ul>

    <div class="tabs__content tabs__content--active" data-content="tab-1">
        <div class="tabs__description">
            <h3>Description</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, eligendi?
        </div>
    </div>
    <div class="tabs__content" data-content="tab-2">
        <h3>Reviews</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eaque, repellat, delectus cum odit deserunt eum labore adipisci, sapiente praesentium alias nobis
        voluptatum illo eligendi qui? Debitis magnam voluptates, dolore facilis iusto aliquam libero consequuntur ipsam velit laudantium impedit, consequatur ex explicabo officiis.
        Illum iusto, dolore eaque reiciendis quis eligendi?
    </div>
    <div class="tabs__content" data-content="tab-3">
        <h3>Shipping</h3>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt adipisci quia suscipit fugit ut molestiae.
    </div>
    <div class="tabs__content" data-content="tab-4">
        <h3>About seller</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ullam iusto aliquam! Adipisci, omnis. Dicta impedit, maiores beatae adipisci culpa in quas eaque eos
        consequatur minima, veniam dolorum non consequuntur sit architecto repellendus voluptatum eligendi corrupti quaerat repudiandae excepturi. Consequatur maxime, ullam odit
        totam, unde aliquid cum quibusdam earum laudantium doloribus quisquam reiciendis possimus aliquam? Reiciendis maxime dolores sunt numquam quisquam a harum voluptas enim
        atque. Odit, earum sequi labore molestiae cupiditate at illum sunt voluptate voluptatum sapiente est quaerat minus nisi, in assumenda, ad nihil quisquam saepe ipsam nemo!
        Possimus quibusdam quasi impedit sequi excepturi repudiandae libero necessitatibus id!
    </div>
</div>