.accordion {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__control {
        width: 100%;
        position: relative;
        background-color: #f8f9fb;
        padding: 20px;
        text-align: left;
        border: 1px solid #000;

        &::before,
        &::after {
            @include pseudo;
            background-color: #000;
            width: 16px;
            height: 2px;
            top: 50%;
            right: 27px;
            transform: translateY(-50%);
        }

        &::after {
            transform: translateY(-50%) rotate(90deg);
            transition: opacity 0.2s, visibility 0.2s;
        }


        &:active {
            opacity: 0.6;
        }

        &.is-active {
            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__content {
        background-color: #f8f9fb;
        padding: 10px 20px;
        padding: 0 10px;
        overflow: hidden;
        box-sizing: content-box;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height .3s ease-out, padding .3s ease-out, opacity .3s ease-out, visibility .3s ease-out, padding .3s ease-out;

        &.is-open {
            opacity: 1;
            visibility: visible;
            padding: 10px;
        }

    }
}