.filter {
    &__form {}

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--gray-10);

        &.is-hidden {
            padding-bottom: 10px;

            .filter__btn svg {
                transform: rotate(0);
            }

            .filter__content {
                display: none;
            }
        }
    }

    &__btn {
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        padding: 10px 0;

        svg {
            transform: rotate(180deg);
        }
    }

    &__select {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__select-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-top: 10px;
    }
}