.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: currentColor;
    pointer-events: none;
    transition: fill var(--transition), stroke var(--transition), transform var(--transition);

    &--heart,
    &--share,
    &--location,
    &--arrow-down,
    &--grid,
    &--list,
    &--filter,
    &--close {
        fill: transparent;
        stroke: var(--dark-500);
    }

    &--chevron-right {
        width: 20px;
        height: 20px;
    }

    &--play {
        fill: transparent;
        stroke: var(--white-500);
    }
}