.input {
    width: 100%;
    line-height: 1;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 8px;
    transition: box-shadow var(--transition), border-color var(--transition);

    &::placeholder {
        color: #000000;
        transition: color var(--transition);
    }

    &:focus {
        box-shadow: 0 0 0 3px var(--accent-30);
    }

    @include hover {}

}