.pagination {

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        @include tablet {
            justify-content: center;
            overflow-x: auto;
        }
    }

    &__item {

        &:first-child,
        &:last-child {
            .pagination__link {
                border: none;
            }
        }
    }

    &__link {
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--rounded-xs);
        border: 1px solid var(--gray-20);
        transition: border-color var(--transition);
    }

    &__link--disable {
        opacity: 0.3;
        pointer-events: none;
    }

    &__link--current {
        background-color: var(--primary-500);
        color: var(--white-500);
    }
}