/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.range-slider {
    --bg-static: var(--gray-20);
    --bg-range: var(--primary-500);
    --rounded-range: 20px;
    --bg-handle: #ffffff;
    --width-handle: 20px;
    --height-handle: 20px;
    --rounded-handle: 100%;
    --border-handle: 2px solid var(--primary-500);
    --box-shadow-handle: 0 2px 4px 0 rgba(16, 0, 0, 0.1);
    --input-color: #000;
    --height-range: 4px;
    //------------------------//

    width: 95%;
    padding-bottom: 8px;

    &__inputs {
        display: flex;
        gap: 5px;
        margin-bottom: 25px;
    }

    &__input {
        width: 100%;
        color: var(--input-color);
        text-align: center;
    }

    &__label {
        display: inline-flex;
    }
}

.range-slider .noUi-target {
    background: var(--bg-static);
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.range-slider .noUi-connect {
    background: var(--bg-range);
}

.range-slider .noUi-horizontal {
    height: var(--height-range);
    border-radius: var(--rounded-range);
}

.range-slider .noUi-handle {
    border: var(--border-handle);
    border-radius: 0;
    background: var(--bg-handle);
    cursor: pointer;
    box-shadow: none;

    &::before,
    &::after {
        display: none;
    }
}

.range-slider .noUi-horizontal .noUi-handle {
    top: -8px;
    width: var(--width-handle);
    height: var(--height-handle);
    border-radius: var(--rounded-handle);
    box-shadow: var(--box-shadow-handle);
}