.select {
    width: 100%;
    background-color: var(--white-500);
    padding: 12px 20px;
    border: 1px solid var(--gray-40);
    border-radius: var(--rounded-sm);
    transition: border-color var(--transition);
    cursor: pointer;

    &:focus-visible {
        border-color: var(--primary-500);
    }

    @include hover {
        border-color: var(--primary-500);
    }
}