.tabs {
    &__list {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__item {}

    &__btn {}

    &__btn--active {
        background-color: red;
    }

    &__content {
        display: none;
    }

    &__content--active {
        display: block;
    }

}