.title {
    font-weight: 700;

    &--xl {
        font-size: 60px;
    }

    &--lg {
        font-size: 40px;
    }

    &--md {
        font-size: 24px;
    }

    &--sm {
        font-size: 20px;
    }
}