.title {
    font-family: var(--font-second);
    font-weight: 700;

    &--xl {
        font-size: clamp(2rem, 1.192rem + 3.59vw, 3.75rem);
    }

    &--lg {
        font-size: clamp(1.75rem, 1.404rem + 1.54vw, 2.5rem);

    }

    &--md {
        font-size: clamp(1rem, 0.769rem + 1.03vw, 1.5rem);
    }

    &--sm {
        font-size: 20px;
    }
}